body
{
    background-color: rgb(233, 233, 233);
    overflow-x: hidden;
}  

.appName{
    background-color: purple;
    height: 4rem;
    width: 100vw;
    margin-bottom: 2rem;
}

.appName h1{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding-top: 10px;
    padding-left: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.buttonsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.notes-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-textarea{
    border-radius: 5px;
    padding: 25px;
    display: flex;
    margin-bottom: 10px;
    height: 50vh;
    width: 40vw;
}

.saveButton{
    padding: 10px 30px;
    background-color: plum;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: monospace;
    font-weight: 1000;
    color: white;

}

.saveButton:hover{
    background-color: rgb(122, 25, 122);
    border-radius: 8px;
    cursor: pointer;
}

#add_button:hover{
    background-color: rgb(122, 25, 122);
    border-radius: 8px;
    cursor: pointer;
}

.noteStruct{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: rgb(122, 25, 122);
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, rgb(122, 25, 122) 0%, rgb(183, 83, 183) 74%);
    padding: 0.5rem 0.5rem;
    font-family: monospace;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

#myNotesid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;
}

@media screen and (max-width:720px)
{
    .custom-textarea{
        border-radius: 5px;
        padding: 25px;
        display: flex;
        margin-bottom: 10px;
        height: 50vh;
        width: 70vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
